body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: url(pic1.jpg);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 15px;
}

.main-nav li.active a {
    border: 1px solid white;
}

.main-nav li a:hover {
    border: 1px solid white;
}

.logo img {
    width: 100px;
    height: auto;
    float: left;
    margin-left: 40px;
}

.row {
    max-width: 1200px;
    margin-top: auto;
}

.hero {
    position: absolute;
    width: 1200px;
    margin-left: 80px;
    margin-top: 200px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 260px;
}

.button {
    margin-top: 20px;
    margin-left: 250px;
}

.btn {
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one {
    font-family: "Roboto", sans-serif;
}

.btn-one:hover {
    background-color: black;
}

.btn-two {
    font-family: "Roboto", sans-serif;
}

.btn-two:hover {
    background-color: black;
}

.btn-three {
    font-family: "Roboto", sans-serif;
}

.btn-three:hover {
    background-color: black;
}

.btn-four {
    font-family: "Roboto", sans-serif;
}

.btn-four:hover {
    background-color: black;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.about {
    color: white;
}

.container {
    margin: 0;
    padding: 0;
    margin-left: 200px;
    position: absolute;
    width: 1000px;
    margin-top: 75px;
}